<!DOCTYPE html>
<html lang="eng">

<head>
    <link rel="icon" href="logo.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Surrey Saxons </title>
</head>

<body>
    <%- include('common/nav'); %>

    <div class = "intro">
        <h1>Student deleted</h1>
        <a href="/">Back to homepage</a>
    </div>
    <%- include('common/footer'); %>

</body>

</html>