<!DOCTYPE html>
<html lang="eng">

<head>
    <link rel="icon" href="logo.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Surrey Saxons </title>
</head>

<body>
    <%- include('common/nav'); %>

    <div class = "intro">
        <h1>Welcome to the Surrey Saxons website</h1>
        <p>We are the proud Uni of Surrey baseball and softball team.</p>
        <p>The 23/24 season has the chance to be our best season yet as we aim to reach nationals for the 2nd year in the row.</>
        <p> --</p>
        <p>On the 2nd of December 2023 the team had 4 softball fixtures.</p>
        <p>They returned back to Guildford with 2 wins, a loss and an auto win due to a forfeit.</p>
        <p>GO SAXONS!!!</p>

    </div>
    <%- include('common/footer'); %>

</body>

</html>