<main>    
    <nav>
        <table>
            <td><img src="logo.png" width="92" height="92"></td>
            <td class = "options"><ul>
                <li><a href ="/">Home</a></li>
                <li><a href="/member">Members</a></li>
                <li><a href="/fixtures">Fixtures</a></li>
        
                </ul>
            </td>
        </table>
    </nav>